* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: rgb(234, 234, 234);
}
header {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(images/land7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
h1 {
    font-size: 120px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    color: rgb(142, 130, 26);
    font-style: normal;
    line-height: .75;
    margin: 50px;
    padding: 0;
    z-index: 1;
}
nav a {
    font-size: 25px;
    color: rgb(90, 126, 127);
    text-align: center;
    font-weight: 600;
    font-family: "Darker Grotesque";
    font-display: bold;
    font-variant: small-caps;
    font-style: italic;
}
nav ul li {
    display: inline-block;
    padding: 10px;
    margin: 5px;
}
a {
    color: rgb(142, 130, 26);
    text-decoration: none;
    font-style: italic;
    font-size: 25px;
    font-family: "Darker Grotesque";
    font-weight: 400;
}
a:hover {
    color: steelblue;
}
h3 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    font-family:"Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: steelblue;
    position: relative;
}

/* ABOUT SECTION */

#about-section {
    width: 100%;
    color: rgb(108, 115, 97);
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px 30px;
}
.about {
    width: 60%;
    align-items: center;
    padding-left: 60px;

}
.shadow {
    width: 40%;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
h4 {
    color: rgb(108, 115, 97);
    font-size: 40px;
    text-align: left;
    font-weight: 400;
    font-family: "Darker Grotesque";
    font-display: bold;
    font-variant: small-caps;
    /*color: rgb(90, 126, 127);*/
}


/* PHOTO SECTION */

#photo-section {
    width: 100%;
    background-color: black;
    padding-right: 60px;
    padding-left: 60px;
}
.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 20px;
    justify-items: center;
    align-content: center;
    padding: 80px 30px;
    
}
.grid-container div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(images/mom-son.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(images/woman-crank.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div3 { 
    grid-area: 1 / 3 / 2 / 4;
    background-image: url(images/1930s-1940s-american-life-15.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div4 { 
    grid-area: 1 / 4 / 2 / 5; 
    background-image: url(images/truck2.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div5 { 
    grid-area: 2 / 1 / 3 / 2;
    background-image: url(images/woman-twokids.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div6 { 
    grid-area: 2 / 2 / 3 / 3;
    background-image: url(images/classroom2.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div7 { 
    grid-area: 2 / 3 / 3 / 4;
    background-image: url(images/duststorm.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}
.div8 { 
    grid-area: 2 / 4 / 3 / 5;
    background-image: url(images/girl1.jpg);
    height: 270px;
    width: 270px;
    border: 3px dotted rgb(90, 126, 127);
}

/* REVIEW SECTION */
#review-section {
    width: 100%;
    background-color: black;
    border-bottom: solid white 2px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.art {
    background-image: url(images/woman-paint.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
}
.reviews {
    text-align: center;
    width: 50%;
    margin: 20px;
    padding-left: 80px;
    justify-content: center;
    display: block;
}
.reviewtitle {
    margin-bottom: 10px;
}
h3 {
    color: rgb(90, 126, 127);
    font-size: 80px;
    text-align: left;
    font-weight: 600;
    font-family: "Darker Grotesque";
    font-display: bold;
    font-style: oblique;
    font-variant: small-caps;

}
.review1 {
    margin-bottom: 30px;
}

h5 {
    font-size: 25px;
    font-family: "Darker Grotesque";
    font-weight: 400;
    color: rgb(108, 115, 97);
    font-style: normal;
    text-align: left;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}
p {
    font-size: 25px;
    text-align: center;
    font-family:"Cormorant Garamond", serif;
    color: rgb(142, 130, 26);
}

/* COVER SECTION */

#cover-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cover-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cover-text {
    padding: 30px;
    margin: 20px;
}
.cover {
    margin-inline-start: 10px;
}
h6 {
    font-size: 80px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    color: rgb(142, 130, 26);
    /*color: rgb(90, 126, 127);*/
    font-style: normal;
    line-height: .75;
}